@media screen and (max-width: 600px) {

	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: center;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
		margin-top: 0;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #666;
		line-height:  30px;
		text-transform: uppercase;
		white-space: nowrap;
		font-size:11pt;
	}
	.main-navigation .current-menu-item > a {
		border-bottom: 3px solid #f03;
		color: #f03;
		text-align: center;
	}
#logo-wrapper {
float: none;
margin-left: auto;
margin-right: auto;
width: 180px;
margin-bottom: 1.5%;}
#logotxten-wrapper {display:none;}
#logo-wrapper img { width: 45px;}
a#logotxttop {
    color: #0000FF;
    font-size: 11pt;
}

#branding-wrapper {
float: right;
margin-top: 5%;
margin-right: 6px;
}
#branding-wrapper a{
color:#000;
font-size:1.2rem;
}

.template-front-page .site-content{
width: 60%;
float: left;
margin: 0.2rem 0 0;
}
.template-front-page .widget-area {
//width: 36%;
//margin-top: 20px;
//margin-right: 10px;
display:none;
}
#primary {width: 100%;}
.page-template-default .widgetbox,.blog .widgetbox{
//margin-left: 10px;
}
.nav-pad-e {float: none;}
.single #header-show-image {display:none;}
.home .site-content article.page {
    height: auto;}
.sidebar-right img{display:none;}

.template-front-page #bottomAD {
        -webkit-box-sizing: border-box;
        height: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 0 10px;
        overflow: hidden;
        width: 100%;
        background: rgba(0, 0, 0, .7);
	display:block;
    }
.template-front-page .bottom-text {
        margin-left: 0px;
        line-height: 46px;
        font-size: 24px;
        color: #fff;
    }
.template-front-page .bottom-btn {
        position: absolute;
        top: 6px;
        right: 10px;
        height: 30px;
        line-height: 32px;
        color: #fff;
        background-color: #60b900;
        border-radius: 6px;
        text-align: center;
        font-size: 20px;
        padding: 0 5px;
        font-weight: bold;
    }
.template-front-page .bottomAD a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
.sidebar-news-wrapper {display:none;}
}